@import url('http://fonts.cdnfonts.com/css/sansita-one');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

nav {
  flex: 1;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  padding: 20px 0;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
  box-shadow: 1px 1px 15px 1px rgb(200, 200, 200);
  width: 100%;
  background-color: #e4e4e4;
}

.logo {
  text-align: center;
  flex: 1;
  max-width: 30vw;
  transition: 250ms all;
}

.logo:hover {
  transform: scale(1.25);
}

.links {
  font-family: 'Montserrat', sans-serif;
  flex: 2;
  max-width: 80vw;
  align-items: center;
  font-size: 30px;
  font-weight: 450;
  display: flex;
}

.link {
  flex: 1;
}

.welcome {
  padding: 0 100px;
}

a {
  font-weight: 450;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color: black;
  transition: 500ms all;
}

a:hover {
  transform: scale(1.025);
  font-weight: 500;
}

@media (max-width: 500px) {
  nav {
    width: 98%;
  }
  .logo {
    max-width: 50%;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
  }
  .link {
    padding: 3px;
  }
}
