.home-sign-up,
.home-add-apparel,
.home-apparel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  height: 250px;
}

.home-apparel {
  background-image: url("../../images/Apparel.png");
  height: 450px;
  background-repeat: no-repeat;
}

.home-sign-up {
  background-image: url("https://freefrontend.com/assets/img/css-background-patterns/Background-Triangle-Pattern-HTML-CSS.png");
  background-repeat: no-repeat;
}

.home-add-apparel {
  background-image: url("https://img.wattpad.com/userbg/Isis_Emmy.57028.jpg");
}

h1 {
  background-color: white;
  width: 500px;
  align-self: center;
  border: 5px solid  black;
}