.home-sign-up,
.home-add-apparel,
.home-apparel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 300px;
}

.home-apparel {
  background-image: url("../../images/Apparel4.png");
  height: 400px;
  background-repeat: no-repeat;
}

.home-sign-up {
  background-image: url("https://freefrontend.com/assets/img/css-background-patterns/Background-Triangle-Pattern-HTML-CSS.png");
  background-repeat: no-repeat;
  margin-bottom: 25px;
  margin-top: 25px;
}

.home-add-apparel {
  background-image: url("https://img.wattpad.com/userbg/Isis_Emmy.57028.jpg");
  margin-top: 25px;
}

h1 {
  background-color: white;
  width: 500px;
  align-self: center;
  border: 5px solid  black;
  border-radius: 15px;
}

h1:hover {
  box-shadow: 1px 1px 15px 1px rgb(200, 200, 200);
}

@media only screen and (max-width: 1000px) {
  h1 {
    width: 450px;
  }
}

@media only screen and (max-width: 880px) {
  h1 {
    width: 400px;
  }
}

@media only screen and (max-width: 660px) {
  h1 {
    width: 350px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    width: 300px;
    font-size: 30px;
  }
}